LOOPS:
For //
while

In [4]:
for i in range (4):
    print(i,end=" ")

0 1 2 3

In [5]:
for i in range(3,8):
    print(i,end=" ")

3 4 5 6 7

In [6]:
for j in range(5,10,2):                        #(start,end,step)
    print(j,end=" ")

5 7 9

In [7]:
s='sepideh'

for j in s:
    print(j.upper(),end=" ")
    print(j.lower(),end=" ")

S s E e P p I i D d E e H h

In [8]:
for j in range(3):
    print('hello'.upper(),end=" ")

HELLO HELLO HELLO

In [9]:
for j in range(9,2,-3):
    print(j,end=" ")

9 6 3

In [10]:
world='abcd'
count=0
for j,char in enumerate(world):
    count+=1
    print("({},{})".format(j,char))

(0,a)
(1,b)
(2,c)
(3,d)

Question=count the number of character ina loop?

In [11]:
world='abcd'
for i in range(len(world)):
    char=world[i]
    print((i,char))

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

Question= count the number of a value that was given in output?

In [12]:
world='abcd'
c=0
for i in world:
    if i=='d':
        c+=1
print(c)

1

Question=count the number of Vowels in a sentence or word?

In [42]:
name='sepideh'
vowel='aeoui'
c=0
for i in name:
    if i in vowel:
        print(i,end=" ")
        c+=1
print(c, end=" ")

e i e 3

In [44]:
c=[ch for ch in name if ch in vowel]
print(c)

['e', 'i', 'e']

# LOOPING Techniques in Python
1.enumerate()
2.zip()
3.pass()
4.iteritem()
5.items()

# enumerate():   For index,value in enumerate(iterable):
 #do sth with index and value
 
index: **represent the index of the current item in the iterable**
value: **the value of the current item

For loop iterates over the items in the iterable and the Enumerate() function generates the pairs of (index,value) for each item.

In [40]:
name='Sepideh'

vowel='aeoui'
c=0
for index,value in enumerate(name):
    if value in vowel:
              c+=1
print(f" value:{vowel} , index:{c}")

 value:aeoui , index:3

In [1]:
# python code to demonstrate working of enumerate()

for key, value in enumerate(['The', 'Big', 'Bang', 'Theory']):              #key=index
	print(key, value)

0 The
1 Big
2 Bang
3 Theory

In [7]:
# python code to demonstrate working of enumerate()

for key, value in enumerate(['Geeks', 'for', 'Geeks','is', 'the', 'Best','Coding', 'Platform']):
    print(value, end=' ')

Geeks for Geeks is the Best Coding Platform

In [33]:
A='Hello sepideh'
for c in A:
    print(c,c.upper(),c.lower())

H H h
e E e
l L l
l L l
o O o

s S s
e E e
p P p
i I i
d D d
e E e
h H h

In [37]:
for i in range(len(A)):
    c=A[i]
    print(i,c,c.upper(),c.lower())

0 H H h
1 e E e
2 l L l
3 l L l
4 o O o
5
6 s S s
7 e E e
8 p P p
9 i I i
10 d D d
11 e E e
12 h H h

In [38]:
for i,c in enumerate(A):
    print(i,c,c.upper(),c.lower())                  i=indic,index  c=meghdare,value

0 H H h
1 e E e
2 l L l
3 l L l
4 o O o
5
6 s S s
7 e E e
8 p P p
9 i I i
10 d D d
11 e E e
12 h H h

In [39]:
list(enumerate(A))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 's'),
 (7, 'e'),
 (8, 'p'),
 (9, 'i'),
 (10, 'd'),
 (11, 'e'),
 (12, 'h')]

# using: zip()
**zip() is used to combine 2 similar containers(list-list or dict-dict) printing the values sequentially. The loop exists only till the smaller container ends.

In [41]:
A=[1,2,3,4]
B=[10,20,30,40]
for i in range(len(A)):
    print(A[i],B[i])

1 10
2 20
3 30
4 40

In [42]:
for a,b in zip(A,B):
    print(a,b)

1 10
2 20
3 30
4 40

In [43]:
A=[1,2,3,4]
B=[10,20,30,40,50,60]
for a,b in zip(A,B):
    print(a,b)

1 10
2 20
3 30
4 40

In [49]:
list(zip(A,B))           #===for a ,b in zip(A,B)

[(1, 10), (2, 20), (3, 30), (4, 40)]

In [48]:
B=[10,20,30,40,50,60]
C='sepideh'
A=[1,2,3,4]

for b,c,a in zip(B,C,A):
    print(b,c,a)

10 s 1
20 e 2
30 p 3
40 i 4

In [53]:
L=list(zip(A,B,C)) 
print(L)
L[0]

[(1, 10, 's'), (2, 20, 'e'), (3, 30, 'p'), (4, 40, 'i')]

(1, 10, 's')

# there is away to unzip

In [54]:
list(zip(L[0],L[1],L[2],L[3]))

[(1, 2, 3, 4), (10, 20, 30, 40), ('s', 'e', 'p', 'i')]

In [55]:
list(zip(*L))                   #expand

[(1, 2, 3, 4), (10, 20, 30, 40), ('s', 'e', 'p', 'i')]

In [59]:
list(zip(*zip(A,B,C)))

[(1, 2, 3, 4), (10, 20, 30, 40), ('s', 'e', 'p', 'i')]

In [ ]:
A=[1,2,3,4,5,6,7]

list(enumerate(A))

In [62]:
list(range(len(A)))

[0, 1, 2, 3, 4, 5, 6]

In [65]:
list(zip(range(len(A)),A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7)]

# +**++ yani list(zip(range(len(A)),A))===list(enumerate(A))

#**we can change the start and stardt whatever that we want**

In [66]:
list(enumerate(A,start=90))

[(90, 1), (91, 2), (92, 3), (93, 4), (94, 5), (95, 6), (96, 7)]

In [64]:
# python code to demonstrate working of zip()

# initializing list
questions = ['name', 'colour', 'shape']
answers = ['apple', 'red', 'a circle']

# using zip() to combine two containers
# and print values
for question, answer in zip(questions, answers):
	print('What is your {0}? I am {1}.'.format(question, answer))

What is your name? I am apple.
What is your colour? I am red.
What is your shape? I am a circle.

# iteritem()
**iteritems() is used to loop through the dictionary printing the dictionary key-value pair sequentially which is used before Python 3 version.

# items()
 **items() performs the similar task on dictionary as iteritems() but have certain disadvantages when compared with iteritems().

In [67]:
d = {"geeks": "for", "only": "geeks"}
print("The key value pair using items is : ")
for i, j in d.items():
	print(i, j)

The key value pair using items is :
geeks for
only geeks

In [68]:


king = {'Akbar': 'The Great', 'Chandragupta': 'The Maurya',
		'Modi': 'The Changer'}

for key, value in king.items():
	print(key, value)

Akbar The Great
Chandragupta The Maurya
Modi The Changer

# sorted()
**sorted() is used to print the container is sorted order. It doesn’t sort the container but just prints the container in sorted order for 1 instance. The use of set() can be combined to remove duplicate occurrences.

In [75]:


basket = ['guave', 'orange', 'apple', 'pear',
		'guava', 'banana', 'grape']
for fruit in sorted(set(basket)):
	print(fruit)

apple
banana
grape
guava
guave
orange
pear

In [70]:
A=[1,2,3,4,5,43,21,-89,0,-8]
sorted(A)

[-89, -8, 0, 1, 2, 3, 4, 5, 21, 43]

In [73]:
sorted(A,reverse=True)

[43, 21, 5, 4, 3, 2, 1, 0, -8, -89]

In [76]:
abs(-2)

2

In [81]:
sorted(A,key=abs)

[0, 1, 2, 3, 4, 5, -8, 21, 43, -89]

In [82]:
sorted(A,key=abs,reverse=True)

[-89, 43, 21, -8, 5, 4, 3, 2, 1, 0]

In [84]:
def square(x):
    return x**2

In [85]:
square(10)

100

In [86]:
sorted(A,key=square)

[0, 1, 2, 3, 4, 5, -8, 21, 43, -89]

In [87]:
sorted(A,key=square,reverse=True)

[-89, 43, 21, -8, 5, 4, 3, 2, 1, 0]

In [88]:
sorted(A,key=lambda x:x**2)

[0, 1, 2, 3, 4, 5, -8, 21, 43, -89]

In [89]:
sorted(A,key=lambda x:x**2,reverse=True)

[-89, 43, 21, -8, 5, 4, 3, 2, 1, 0]

In [98]:
sorted(A,key=lambda x:x%2)

[2, 4, 0, -8, 1, 3, 5, 43, 21, -89]

In [99]:
sorted(A)

[-89, -8, 0, 1, 2, 3, 4, 5, 21, 43]

In [100]:
sorted(sorted(A), key=lambda x:x%2)

[-8, 0, 2, 4, -89, 1, 3, 5, 21, 43]

or           #first based on x sorted then based on x%2
#in sorting elemans ,always the

In [101]:
sorted(A,key=lambda x: (x%2,x))

[-8, 0, 2, 4, -89, 1, 3, 5, 21, 43]

In [102]:
sorted(A,key=lambda x: (x,x%2))

[-89, -8, 0, 1, 2, 3, 4, 5, 21, 43]

# pass()
**We use pass statements to write empty loops. Pass is also used for empty control statements, functions, and classes.

In [25]:
# An empty loop
for letter in 'geeksforgeeks':
	pass
print('last Letter :', letter)

First Letter : s

In [26]:
for i in range(10):
    # do something
    pass
++++
#In this case, pass is used to indicate that the loop should do nothing during the current iteration,
#but should continue with the next iteration. 
+++

# break: dg edeme nade,out of loop:  terminate

**the 'break' keyword is used inside loops (for loop, while loop) to immediately terminate the loop's code block and exit the loop.
When a break statement is encountered within a loop, the loop is terminated immediately, and the control is passed to the next statement after the loop.

In [62]:
i = 0
while i < 10:
    print(i)
    i += 1
    if i == 5:
        break

0
1
2
3
4

In [57]:
for i in range(0,5):
    if i==3:
        break
    else:
        print(i,end=' ')

0 1 2

# continue()  :dobare bro aval loop

**In Python, the 'continue' keyword is used inside loops (for loop, while loop) to skip the current iteration of the loop and move on to the next iteration.(

When a continue statement is encountered within a loop, the remaining statements inside the current loop iteration are skipped, and the control is passed to the next iteration of the loop. In other words, the continue statement helps to skip over certain parts of the loop's code block based on certain conditions.

Here's an example that demonstrates the use of the continue keyword in a for loop:  #add in output

In [81]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i,end=' ')
    
    
#In the above example, the for loop iterates over the range of numbers from 0 to 9. 
#When the value of i is even (i.e., i % 2 == 0 is true), the continue statement is executed, 
#and the control is passed to the next iteration of the loop, skipping the remaining statements in the loop's code block. 
#When the value of i is odd, the print() statement is executed, and the value of i is printed to the console.

1 3 5 7 9

In [20]:
for i in range(0,5):
    if i==3:
        continue
    else:
        print(i,end=' ')

0 1 2 4

In [21]:
# Prints all letters except 'e' and 's'
for letter in 'geeksforgeeks':
	if letter == 'e' or letter == 's':
		continue
	print('Current Letter :', letter)

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [22]:
for letter in 'geeksforgeeks':

	# break the loop as soon it sees 'e'
	# or 's'
	if letter == 'e' or letter == 's':
		break
print('Current Letter :', letter)

Current Letter : e

# Python nested Loops:

+++++for LOOP

**for iterator_var in sequence:
    for iterator_var in sequence:
        statements(s)
        statements(s)
        
        
+++++++while loop

**while expression:
    while expression: 
        statement(s)
        statement(s)

In [19]:
from __future__ import print_function
for i in range(1, 5):
	for j in range(i):
		print(i, end=' ')
	print()

1
2 2
3 3 3
4 4 4 4

In [16]:
for i in range(2,5):
    for j in range(i):
        print(j,end=" ")
    print()

0 1
0 1 2
0 1 2 3

In [17]:
for i in range(2,5):
    for j in range(1,i):
        print(j,end=" ")
    print()

1
1 2
1 2 3

In [15]:
for i in range(1,4):
    for j in range(2,4):
        print(i,end=" ")
    print()

1 1
2 2
3 3

In [65]:
for n in range(10,15):
    for i in range (2,n):
        if n%i==0:
            print(n)
            break

10
12
14

In [82]:
for i in range (3,8):
    for j in range(2,i):
        if i%j==0:
            break
    else:
         print(i)

3
5
7

# while():
ta zamani ke condition **'while'** bargharar ast , dastur dakhele halghe baegharar khahad bud.

In [12]:
# prints Hello Geek 3 Times
count = 0
while (count < 3):
    count = count+1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [13]:
# Iterating over a list
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
	print(i)
	
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
	print(i)
	
# Iterating over a String
print("\nString Iteration")
s = "Geeks"
for i in s :
	print(i)
	
# Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d :
	print("%s %d" %(i, d[i]))

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

Dictionary Iteration
xyz 123
abc 345

In [4]:
i=1
while i<=4:
    i+=1
    print(i,end=' ')

2 3 4 5

In [3]:
i=1
while i<=4:
    print(i,end=' ')
    i+=1

1 2 3 4

In [5]:
n=7
while n>=3:
    print(n,end=' ')
    n-=1

7 6 5 4 3

In [1]:
s='abcdef'
i=0
while True:                #sharte haminshe bargharar
    if s[i]=='d':
        break
    print(s[i],end=' ')
    i+=1

a
b
c

In [1]:
n=8
while n>2:
    n-=1
    if n==5:
        break
    print(n,end=' ')

7 6

In [2]:
n=8
while n>2:
    n-=1
    if n==5:
        continue
    print(n,end=' ')

7 6 4 3 2

In [3]:
a=0
b=1
while a<10:
    print(a,end=' ')
    a=b
    b=a+b

0 1 2 4 8

In [4]:
a=0
b=1
while a<10:
    print(a,end=' ')
    a, b =b, a+b              #hamzaman taghir  mikonan

0 1 1 2 3 5 8

In [ ]:
import random
n=random.randrange(0,10)
f='no'

while f=='no':
    a=int(input('enter:'))
    #a=random.randrange(2,6)
    if a<n:
        print('>')
    elif a>n:
        print('<')
    else:
        print('correct')
        f='yes'
print('Thank you')

In [ ]:
++++

**How to print a list in reverse order (from last to the first item) using while and for-in loops.

++++

In [2]:
 A='sepideh'
i=len(A)-1
while i>=0:                #sharte haminshe bargharar
    print(A[i])
    i-=1

h
e
d
i
p
e
s

In [6]:
my_list = 'sepidehmehrdadusa'

for i in range(len(my_list) - 1, -1, -1):
    print(my_list[i],end=' ')

a s u d a d r h e m h e d i p e s

In [7]:
my_list = [1, 2, 3, 4, 5]
i = len(my_list) - 1

while i >= 0:
    for j in range(i, i-1, -1):
        print(my_list[j], end=' ')
    i -= 1

5 4 3 2 1

In [13]:
A='sepidehmohammadibolguri'
print(len(A))

i=len(A)-1
while i>=0:
    for j in [i]:
        print(A[j],end=' ')
        i-=1

23
i r u g l o b i d a m m a h o m h e d i p e s

In [118]:

count = 0
while count < 5:
	if count == 3:
		break
	count += 1
print(count)

3

# reverse()

In [17]:
A='sepideh'

list(reversed(A))

['h', 'e', 'd', 'i', 'p', 'e', 's']

In [29]:
A='sepideh'
for i in reversed(A):
    print(i,end=' ')

h
e
d
i
p
e
s

In [21]:
B=[1,2,3,45,5,6,7,8]
list(reversed(B))

[8, 7, 6, 5, 45, 3, 2, 1]

In [25]:
B=(1,2,3,45,5,6,7,8)
list(reversed(B))

[8, 7, 6, 5, 45, 3, 2, 1]

In [28]:
B=[1,2,3,45,5,6,7,8]
for i in reversed(B):
   print(i,end=' ')

8 7 6 5 45 3 2 1

In [103]:

lis = [1, 3, 5, 6, 2, 1, 3]

print("The list in reversed order is : ")
for i in reversed(lis):
	print(i, end=" ")

The list in reversed order is :
3 1 2 6 5 3 1

In [104]:

for i in reversed(range(1, 10, 3)):
	print(i)

7
4
1