### pandas

In [25]:
import pandas as pd
import numpy as np

In [26]:
pd.Series([1, 2, 3, 0,'sepi', np.nan, -1])

0       1
1       2
2       3
3       0
4    sepi
5     NaN
6      -1
dtype: object

In [27]:
dates= pd.date_range("20210101", periods=6)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
np.random.randn(6,4)

array([[ 0.21029021,  0.28723658,  0.06606634, -1.1258373 ],
       [-0.82641985,  0.72045991, -0.62069518, -0.61942175],
       [ 0.1586811 , -0.63291055, -0.70669162,  0.29061607],
       [ 0.4685981 , -0.35269151, -0.59361017, -0.34517252],
       [-0.11954777, -0.90031709, -1.25899486,  2.1372496 ],
       [ 0.05163842,  0.54757572,  0.04008261, -0.39439693]])

In [33]:
df= pd.DataFrame(np.random.randn(6,4) , index=dates , columns=['a' ,"B", "c","d"])
df

                   a         B         c         d
2021-01-01 -0.387977 -0.202341  0.613052 -0.476127
2021-01-02 -0.150711 -0.924835  1.843798  0.205039
2021-01-03 -1.293355 -0.804926  0.036088 -0.812358
2021-01-04  0.210639 -2.994776 -0.196641 -1.772359
2021-01-05  0.634205 -1.445093 -0.376031 -1.641076
2021-01-06  0.273845  0.981604 -0.164871 -3.326337

In [35]:
df.head(2)

                   a         B         c         d
2021-01-01 -0.387977 -0.202341  0.613052 -0.476127
2021-01-02 -0.150711 -0.924835  1.843798  0.205039

In [36]:
df.tail(2)

                   a         B         c         d
2021-01-05  0.634205 -1.445093 -0.376031 -1.641076
2021-01-06  0.273845  0.981604 -0.164871 -3.326337

In [37]:
df.describe()

              a         B         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.118892 -0.898395  0.292566 -1.303870
std    0.675688  1.320759  0.833115  1.235080
min   -1.293355 -2.994776 -0.376031 -3.326337
25%   -0.328660 -1.315029 -0.188698 -1.739538
50%    0.029964 -0.864881 -0.064391 -1.226717
75%    0.258043 -0.352987  0.468811 -0.560185
max    0.634205  0.981604  1.843798  0.205039

In [38]:
df["a"]. mean()

-0.11889238573848442

In [39]:
df.T

   2021-01-01  2021-01-02  2021-01-03  2021-01-04  2021-01-05  2021-01-06
a   -0.387977   -0.150711   -1.293355    0.210639    0.634205    0.273845
B   -0.202341   -0.924835   -0.804926   -2.994776   -1.445093    0.981604
c    0.613052    1.843798    0.036088   -0.196641   -0.376031   -0.164871
d   -0.476127    0.205039   -0.812358   -1.772359   -1.641076   -3.326337

In [43]:
df.sort_values(by="B")

                   a         B         c         d
2021-01-04  0.210639 -2.994776 -0.196641 -1.772359
2021-01-05  0.634205 -1.445093 -0.376031 -1.641076
2021-01-02 -0.150711 -0.924835  1.843798  0.205039
2021-01-03 -1.293355 -0.804926  0.036088 -0.812358
2021-01-01 -0.387977 -0.202341  0.613052 -0.476127
2021-01-06  0.273845  0.981604 -0.164871 -3.326337

In [44]:
df[df["a"]>0]

                   a         B         c         d
2021-01-04  0.210639 -2.994776 -0.196641 -1.772359
2021-01-05  0.634205 -1.445093 -0.376031 -1.641076
2021-01-06  0.273845  0.981604 -0.164871 -3.326337

### read and write operations

In [45]:
df.read_cvs("myfile.csv")
df

AttributeError: 'DataFrame' object has no attribute 'read_cvs'

In [ ]:
df.to_csv("/tmp/mycsv.csv")